<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
      $(document).ready(function(){
        var socket = io.connect("http://" + document.domain + ":" + location.port + "/mynamespace");
	socket.on('response', function(msg) {
          if (msg.type != "System") {
            if (msg.type == "Play") {
              player.loadVideoById(msg.data);
	    } else if (msg.type == "Select") {
            setTimeout(
              function() {
                synthVoice(msg.data + "집");
              }, 1000,
            );
	    }
	  }
	});
      });

      function synthVoice(text) {
        const synth = window.speechSynthesis;
        const utterance = new SpeechSynthesisUtterance();
        utterance.text = text;
        synth.speak(utterance);
      }
    </script>
  </head>
  <body>
    <div id="player"></div>
    <script>
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '360',
          width: '640',
          videoId: '',
          origin: 'http://localhost:5000/',
          events: {
            'onReady': onPlayerReady,
          }
        });
      }

      function onPlayerReady(event) {
        event.target.playVideo();
      }
    </script>
  </body>
</html>
